#!/bin/bash
# Make sure the mirror host is fully up to date
dnf clean all; dnf update --refresh -y
# Temporarily stop SELinux
sudo setenforce 0
# Download docker-ce-stable repo
dnf reposync --repoid=docker-ce-stable --delete --downloadcomps \
            --download-metadata --arch=x86_64,i686,noarch --newest-only \
                --download-path=/var/www/html
# Download docker-ce-stable gpg key
curl https://download.docker.com/linux/fedora/gpg -o /var/www/html/docker-ce-stable/gpg
# Download kubernetes repo
dnf reposync --repoid=kubernetes --delete --downloadcomps \
            --download-metadata --arch=x86_64,i686,noarch --newest-only \
                --download-path=/var/www/html
# Download kubernetes gpg keys
curl https://packages.cloud.google.com/yum/doc/yum-key.gpg -o /var/www/html/kubernetes/yum-key.gpg
curl https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg -o /var/www/html/kubernetes/rpm-package-key.gpg
# Download google-chrome repo
dnf reposync --repoid=google-chrome --delete --downloadcomps \
            --download-metadata --arch=x86_64,i686,noarch --newest-only \
                --download-path=/var/www/html
# Download google-chrome gpg key
curl https://dl.google.com/linux/linux_signing_key.pub -o /var/www/html/google-chrome/gpg
# Download vscode repo
dnf reposync --repoid=vscode --delete --downloadcomps \
            --download-metadata --arch=x86_64,i686,noarch --newest-only \
                --download-path=/var/www/html
# Download vscode gpg key
curl https://packages.microsoft.com/keys/microsoft.asc -o /var/www/html/vscode/gpg
# Download fedora base repo
dnf reposync --repoid=fedora --delete --downloadcomps \
            --download-metadata --arch=x86_64,noarch --newest-only \
                --download-path=/var/www/html 
# Download fedora updates repo
dnf reposync --repoid=updates --delete --downloadcomps \
            --download-metadata --arch=x86_64,noarch --newest-only \
                --download-path=/var/www/html
# Download fedora source repo
dnf reposync --repoid=fedora-source --source --delete --downloadcomps \
            --download-metadata --arch=x86_64,noarch --newest-only \
                --download-path=/var/www/html
# Fix permissions
chown -R root: /var/www/html/*
restorecon -R /var/www/html
# Start SELinux again
sudo setenforce 1
